.container
  .row
    .col-xs-4.col-xs-offset-4.text-center
      h1 HTML iMac
      p
        input.form-control#size(placeholder='Base font-size, e.g. "20px"')
    .col-xs-8.col-xs-offset-2#wrap
      .imac
        img.img-responsive(src="https://unsplash.it/1600/900")
        .icon
          i.fa.fa-apple