- (1..4).each do |i|
  .row
    .card.original
      Original Image
    .card.passion
      Passion
    .card.timeless
      Timeless
    .card.pop
      Pop
    .card.survival
      Survival
    .card.breathe
      Breathe
    .card.fortune
      Fortune
    .card.mist
      Mist
    .card.pride
      Pride
    .card.rise
      Rise
    .card.focus
      Focus
    .card.retro
      Retro
